* {
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
   
    ::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #020d27; 
}

::-webkit-scrollbar-thumb {
    background-color: #00E5FF; 
    border-radius: 20px; 
    border: 3px solid #008492; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: rgb(21, 255, 0);
    border: 3px solid rgb(5, 60, 0);
}
    a:hover {
            color: rgb(21, 255, 0);
            h4 {
                color: rgb(21, 255, 0);
            }
        }
        
        .a_contatos_whatsapp:hover {
             color: rgb(21, 255, 0);
            .fa-brands.fa-whatsapp {
                color: rgb(21, 255, 0);
                 border: rgb(21, 255, 0);
                 
            }

    }

     .a_contatos_email:hover {
             color: rgb(21, 255, 0);
            .fa-regular.fa-envelope {
                color: rgb(21, 255, 0);

            }

    }

    .fa-brands.fa-instagram:hover {
        color: rgb(21, 255, 0);
    }

    .fa-brands.fa-facebook:hover {
        color: rgb(21, 255, 0);
    }

    .fa-brands.fa-tiktok:hover {
        color: rgb(21, 255, 0);
    }

    
    .a_fora_nav:hover {
        color: rgb(21, 255, 0);
    }
    #home{
     .grid_home{
     .coluna_home {
     .botao_home_jogar:hover {
        border: 1px solid rgb(21, 255, 0);
         color: rgb(21, 255, 0);
     }
    }
}
    }

    

body {
    background-color: #010612;
}

 header {
    background-color: black ;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    z-index: 9999;

    .a_fora_nav {
        text-decoration: none;
        color: #00E5FF;
        text-align: center;
        float: left;
        padding: 30px;
        font-size: 40px;
        font-family: "Pixelify Sans";
        font-weight: 400;
        
    }
   nav {
  float: right;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 25px;

      a {
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        padding: 5px;
        font-size: 17px;
        font-family: "Pixelify Sans";
        font-weight: 400;
        vertical-align: middle; 
      }

      button {
        all: unset; /* remove TUDO do botão */
    
    display: inline-block;
    padding: 7px 14px;
    
    background-color: var(--primary);
    color: var(--text);
    
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    background-color: #020d27;
    border: 1px solid white;
    color: white;
        
      }
    }
  }
}
 }

 main {
    background-color: #010612;
    margin: auto;
    width: 96%;
    padding: 20px;
    text-align: justify;
    

    .h2_home {
        margin-top: 150px;
    }

    h2 {
        font-family: "Pixelify Sans";
        text-align: center;
        margin:  20px 0;
        text-decoration: none;
        font-size: 30px;
        scroll-margin-top: 10px;
        color: #00E5FF;
        
    }
    h3 {
        font-family: "Pixelify Sans";
        text-align: center;
        margin: 15px 0;
        color: #00E5FF;
    }


    p {
        margin: 10px 0;
        font-family: "VT323";
        font-size: 20px;
        font-weight: 300;
        color: white;
    }
#home {
    .grid_home {
        display: grid;
        grid-template-columns: 40% 60%;

    .coluna_home {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 10px;
        padding-top: 30px;
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;

        .botao_home_jogar {
                margin-top: 30px;
                display: block;
                border: 1px solid #00E5FF;
                background-color: #04153e;
                color: #00E5FF;
                border-radius: 20px;
                font-family: "Press Start 2P";
                font-size: 20px;
                padding: 40px;
                text-align: center;
                text-decoration: none;
                animation: piscar 1.5s infinite;
                 box-shadow: 0 0 10px #00E5FF,
                0 0 20px #00E5FF,
                0 0 40px #00E5
}


    }

    .coluna_imagemhome {
        border: 1px solid white;
        border-radius: 20px;
        padding: 20px;
        margin: 15px;
        margin-left: 80px;
        text-align: center;
        background-color: #020d27;
        img {
            width: 100%;
            height: auto;
            text-align: center;
            border-radius: 20px;
        }
    }
    }
}

#sobre_o_jogo {
    .grid_sobre_o_jogo {
    
        display: grid;
        grid-template-columns: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        text-align: justify;
        padding: 30px;
        margin-right: 20px;
        margin-left: 20px;


        }
        }
    }

      #jogar {
        .grid_jogar {
            
            display: grid;
            grid-template-columns: 20% 60% 20%;
            
            .coluna_controles {
                .atirar {
                    border: 1px solid white;
                    margin: 10px;
                    padding: 15px;
                    border-radius: 15px;
                    text-align: center;
                }
               
                .movercima {
                    border: 1px solid white;
                    margin: 10px;
                    padding: 15px;
                    border-radius: 15px;
                    text-align: center;
                }
              
                .moverbaixo {
                    border: 1px solid white;
                    margin: 10px;
                    padding: 15px;
                    border-radius: 15px;
                    text-align: center;
                }
              
                h5 {
                    text-align: center;
                    font-family: "Pixelify Sans";
                    letter-spacing: 2px;
                    font-size: 20px;
                    color: white;
                

                }

                img {
                    width: 25%;
                    height: auto;
                    text-align: center;
                }

                .img_espaço {
                      width: 40%;
                    height: auto;
                    text-align: center;
                }
            }


        .coluna_jogo {
        position: relative;

        #overlay {
     border: 1px solid #00E5FF;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 96.5%;
    max-width: 854px;
    height: 480px;
    padding: 2px;
    margin-top:  52px;
    margin-left: 7px;

    background: rgba(0, 0, 0, 0.9);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    cursor: pointer;

    z-index: 5;

    
}

            iframe {
                border: 1px solid white;
                border-radius: 10px;
                width: 96.5%;
                 max-width: 854px;
                height: 480px;
                border-radius: 10px;
                padding: 2px ;
                margin-left: 7px;
}
            }

            .coluna_elementos {
                .dupla_principais{
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 0px;
                        }

                        .dupla_boss{
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 0px;
                        }

                        .dupla_especiais{
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 0px;
                        }
                

                .h4_especiais {
                    font-family: "Pixelify Sans";
                    letter-spacing: 2px;
                    text-align: center;
                    margin: 15px 0;
                    color: #00E5FF;
                }

                
            .jogador {
                    border: 1px solid white;
                    margin: 5px;
                    padding: 20px;
                    border-radius: 15px;
                    text-align: center;
                }

                .nave_inimiga {
                    border: 1px solid white;
                    margin: 5px;
                    padding: 20px;
                    border-radius: 15px;
                    text-align: center;

                }

                .comandante {
                    border: 1px solid white;
                    margin: 5px;
                    padding: 20px;
                    border-radius: 15px;
                    text-align: center;

                }

                .boss {
                    border: 1px solid white;
                    margin: 5px;
                    padding: 20px;
                    border-radius: 15px;
                    text-align: center;

                }
                
                .explosivo {
                    border: 1px solid white;
                    margin: 5px;
                    padding: 15px;
                    border-radius: 15px;
                    text-align: center;

                }

                .energia {
                    border: 1px solid white;
                   margin: 5px;
                    padding: 15px;
                    border-radius: 15px;
                    text-align: center;

                }

                h5 {
                    text-align: center;
                    font-family: "Pixelify Sans";
                     letter-spacing: 2px;
                    font-size: 15px;
                    color: white;
                }

                img {
                    width: 25%;
                    height: auto;
                    text-align: center;
                }


                .imgnavejogador {
                      width: 90%;
                    height: auto;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    text-align: center;
                }

                .imgnaveinimiga {
                      width: 55%;
                      margin-top: 11px;
                    height: auto;
                    text-align: center;
                }

                .imggeneral {
                      width: 40%;
                    height: auto;
                    text-align: center;
                }

                .imgboss {
                      width: 40%;
                    height: auto;
                    text-align: center;
                }

                .imgmina {
                      width: 40%;
                    height: auto;
                    padding-bottom: 12px;
                    text-align: center;
                }

                .imgenergia {
                      width: 30%;
                    height: auto;
                    text-align: center;
                    padding: 3px;
                }
                
            }
        }   

    }


    #contatos {
    background-color: #010612;


    .a_contatos_whatsapp {
        text-decoration: none;
        color: #00E5FF;
        font-family: "Press Start 2P";
        i {
            font-size: 40px;
        }
    }
.a_contatos_email {
    text-decoration: none;
    color: #00E5FF;
    font-family: "Press Start 2P";
     i {
            font-size: 40px;
        }
    }
   
        .grid_contatos {
        display: grid;
        grid-template-columns: 50% 50%;
      
            .coluna {
                border: 1px solid rgb(255, 255, 255);
                background-color: #010612;
                border-radius: 10px;
                margin: 20px;
                text-align: center;
                padding: 40px;
                font-size: 20px;
             }
            }
    }



.grid_seta_descer {
    .coluna_seta {
        text-align: right;
        position: fixed;
        bottom: 20px;
        left: 98%;
        

        font-size: 24px;   
        color: #00E5FF;
        z-index: 1000;

  opacity: 1;
        transition: opacity 0.3s ease;
    }

    .coluna_seta.sumir {
        opacity: 0;
        pointer-events: none;
    }
}

footer {
    background-color: black;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    padding: 25px;
    .footer_instagram {
        text-decoration: none;
        padding: 20px;
        color: white;
    }
    .footer_facebook {
        text-decoration: none;
        padding: 20px;
        color: white;
    }
    .footer_tiktok {
        text-decoration: none;
        padding: 20px;
        color: white;
    }
}

      